doctype
html
	head
		meta(charset="utf-8")
		title=arr[0].user
		style.
			a{
				text-decoration: none;
				color:black;
				font-family: "微软雅黑";
				margin-top:10px;
			}
			li{
				list-style: none;
				border-bottom: solid 1px pink;
			}
			h1{
				color: pink;
			}
	body
		h1=arr[0].name
		h3=arr[0].textname
		h3=arr[0].time
		div!=arr[0].text
		